.news_father {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .news-p {
    text-align: center;
    color: red;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
